tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}
.Red{
    background-color: red;
}
.Blue{
	background-color: blue;
}
.Green{
	background-color: green;
}
.Yellow{
	background-color: yellow;
}